@font-face {
  font-family: futura;
  src: url(../fonts/futura.ttf); }

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf); }

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue-Light.otf); }

/* ====  Preloader styles ==== */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #333333;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f40234;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #01a9a9;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   { 
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   { 
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #f1f1f1;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);  /* IE 9 */
  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

body {
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 30px; }

p {
  font-weight: 300;
  font-size: 16px; }
.site-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    animation:slide-down 0.7s;
    opacity:0.9;
}
.site-header.sticky img.logo {
  width: 75%;
}
@keyframes slide-down {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  } 
  100% {
      opacity: 0.9;
      transform: translateY(0);
  } 
}
.navbar {
  padding: 0 1.5rem !important; }

.navbar-dark .navbar-nav .nav-link {
  color: #01a9a9;
  text-transform: uppercase;
  font-size: 15px; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f40234; }
  .navbar-dark .navbar-nav .nav-link.active {
    color: #f40234; }

.navbar-dark .navbar-toggler-icon {
  background-image: url(../img/menu-icon.png); }

.main-features {
  padding: 50px 0px; }
  .main-features .features_item {
    border: 1px solid;
    padding: 15px 10px; }
    .main-features .features_item .features_item_icon {
      float: left;
      width: 15%;
      display: inline-block;
      margin-right: 15px; }
      .main-features .features_item .features_item_icon i {
        font-size: 2.5rem;
        color: #01a9a9; }
    .main-features .features_item .features_item_text {
      display: inline-block;
      width: 75%; }
      .main-features .features_item .features_item_text h3 {
        font-size: 16px;
        line-height: 1;
        font-weight: 400; }
      .main-features .features_item .features_item_text p {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 0;
        color: #464a4e; }
  @media (max-width: 767px) {
    .main-features .features_item {
      margin: 5px 0px; } }
  @media (max-width: 992px) {
    .main-features .features_item {
      margin: 5px 0px; } }

#about_us {
  position: relative; }
  #about_us .about-us-content {
    padding: 50px 20px 45px 20px;
    border: 4px solid #ddd;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%);
    -ms-transform: translate(-50%, -50%); }
    #about_us .about-us-content .about-title h3 {
      font-size: 30px; }
  @media (max-width: 1199px) {
    #about_us .about-us-content {
      position: relative;
      top: 50%; } }
  @media (max-width: 992px) {
    #about_us .about-us-content {
      padding: 10px 5px 0px 5px;
      position: relative;
      top: 50%; } }
  @media (max-width: 850px) {
    #about_us .about-us-content .about-title h3 {
      font-size: 22px; }
    #about_us .about-us-content .about-title p {
      font-size: 14px; } }
  @media (max-width: 767px) {
    #about_us .about-us-content {
      position: relative;
      top: 60%; }
    #about_us .about-us-content .about-title h3 {
      font-size: 30px; }
    #about_us .about-us-content .about-title p {
      font-size: 16px; } }

#services .service_item {
  opacity: 0.5;
  text-align: center;
  margin-top: 75px;
  cursor: pointer;
  transition: opacity 0.25s ease;
  color: #333333; }
  #services .service_item .service_item_title h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px; }
  #services .service_item.active {
    opacity: 1;
    color: #000000; }

#services .bg-serv {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  float: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }
  #services .bg-serv .services {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  #services .bg-serv .serv-description {
    border: 5px solid #e9ecef;
    text-align: center;
    padding: 50px 20px 45px 20px;
    margin: 0 auto;
    min-width: 260px; }
  @media (max-width: 767px) {
    #services .bg-serv .services {
      position: relative; }
    #services .bg-serv .serv-description {
      margin-bottom: 15%; } }

#resume {
  background: #eaeaeacf; }
  #resume .resume-heading h2 {
    font-size: 30px; }
  #resume .resume-timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative; }
    #resume .resume-timeline:before {
      top: 40px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background-color: #818182;
      left: 50%;
      margin-left: 0px; }
    @media (max-width: 767px) {
      #resume .resume-timeline:before {
        display: none; } }
    #resume .resume-timeline > li {
      margin-bottom: 20px;
      position: relative; }
      #resume .resume-timeline > li:before, #resume .resume-timeline > li:after {
        content: " ";
        display: table; }
      #resume .resume-timeline > li .resume-timeline-badge {
        color: #fff;
        width: 44px;
        height: 44px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -21px;
        background-color: #01a9a9;
        z-index: 2;
        display: table;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
        #resume .resume-timeline > li .resume-timeline-badge i {
          display: table-cell;
          vertical-align: middle;
          height: 44px;
          font-size: 18px; }
      @media (max-width: 767px) {
        #resume .resume-timeline > li .resume-timeline-badge {
          display: none; } }
      #resume .resume-timeline > li .resume-timeline-panel {
        width: 45%;
        margin-bottom: 0;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
        #resume .resume-timeline > li .resume-timeline-panel > h3 {
          margin-top: 0px; }
      @media (max-width: 767px) {
        #resume .resume-timeline > li .resume-timeline-panel {
          width: 100%; } }
    #resume .resume-timeline .resume-timeline-heading > div h3 {
      display: inline-block;
      padding: 7px 15px;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: bold;
      background: #ddd;
      border-radius: 5px; }
    #resume .resume-timeline .resume-timeline-heading h3 {
      font-size: 20px; }
    #resume .resume-timeline .resume-timeline-heading > .company {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: normal;
      color: #bfbfbf; }
    #resume .resume-timeline > li.resume-timeline-left {
      text-align: right; }
    @media (max-width: 767px) {
      #resume .resume-timeline > li.resume-timeline-left {
        text-align: left; } }
    #resume .resume-timeline > li.resume-timeline-right {
      text-align: left;
      display: flow-root; }
      #resume .resume-timeline > li.resume-timeline-right .resume-timeline-panel {
        float: right; }

/* Skills Section*/
#skills .skillbar-head h1 {
  font-size: 30px; }

#skills .skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #ddd;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color; }
  #skills .skillbar .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    #skills .skillbar .skillbar-title span {
      display: block;
      background: rgba(0, 0, 0, 0.1);
      padding: 0 20px;
      height: 35px;
      line-height: 35px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
  #skills .skillbar .skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  #skills .skillbar .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4); }

/* Clients Says Section*/
#clients .clients-says {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

#clients .clients-says-description {
  border: 5px solid #e9ecef;
  text-align: center;
  padding: 50px 20px 45px 20px;
  margin: 0 auto;
  min-width: 260px; }
  #clients .clients-says-description h3 {
    font-size: 50px; }

@media (max-width: 767px) {
  #clients .clients-says {
    position: relative; }
  #clients .clients-says-description {
    margin-bottom: 15%; } }

#clients .clients-quates h6 {
  font-size: 16px;
  margin: 0; }

#clients .clients-quates p.company-head {
  font-size: 13px; }

/* Portfolio Section */
.portfolio-area {
  padding: 80px 0; }

.protfolio-title {
  margin-bottom: 80px; }
  .protfolio-title h1 {
    font-size: 30px; }

.portfolio-container {
  overflow: hidden; }
  .portfolio-container .portfolio-content {
    width: 31%;
    float: left;
    height: 300px;
    margin: 5px; }
    .portfolio-container .portfolio-content .portfolio-menu {
      background: #252e30;
      padding: 32px;
      height: 100%; }
      .portfolio-container .portfolio-content .portfolio-menu h3 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 25px; }
      .portfolio-container .portfolio-content .portfolio-menu ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .portfolio-container .portfolio-content .portfolio-menu ul li {
          font-size: 16px;
          color: #01a9a9;
          transition: 0.3s; }
          .portfolio-container .portfolio-content .portfolio-menu ul li a {
            display: block; }
          .portfolio-container .portfolio-content .portfolio-menu ul li:hover {
            color: #fff;
            cursor: pointer; }
    .portfolio-container .portfolio-content:hover .portfolio-bg {
      transform: scale(1.3); }
      .portfolio-container .portfolio-content:hover .portfolio-bg:after {
        left: 0; }
      .portfolio-container .portfolio-content:hover .portfolio-bg i.fa {
        top: 50%; }
    .portfolio-container .portfolio-content:hover .portfolio-bg-items:after {
      left: 0; }
  .portfolio-container .portfolio-bg-items {
    overflow: hidden; }
    .portfolio-container .portfolio-bg-items .portfolio-bg {
      height: 300px;
      background-size: cover;
      background-position: center;
      background-color: #ddd;
      transition: 0.3s ease-in-out;
      position: relative;
      z-index: 3; }
      .portfolio-container .portfolio-bg-items .portfolio-bg:after {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #01a9a9;
        content: "";
        z-index: -1;
        opacity: 0.7;
        transition: all 0.5s ease-in-out; }
      .portfolio-container .portfolio-bg-items .portfolio-bg i.fa {
        position: absolute;
        left: 50%;
        top: -10%;
        color: #fff;
        font-size: 30px;
        transform: translate(-50%, -50%);
        transition: all 0.6s; }
  .portfolio-container .portfolio-items {
    height: 300px; }
  @media (max-width: 1199px) {
    .portfolio-container .portfolio-content {
      width: 49%; } }
  @media (max-width: 992px) {
    .portfolio-container .portfolio-content {
      width: 100%; } }

.protfolio-bg-1 {
  background-image: url(../img/portfolio-bg-1.png); }

.protfolio-bg-2 {
  background-image: url(../img/portfolio-bg-2.png); }

.protfolio-bg-3 {
  background-image: url(../img/portfolio-bg-3.png); }

.protfolio-bg-4 {
  background-image: url(../img/portfolio-bg-4.png); }

.protfolio-bg-5 {
  background-image: url(../img/portfolio-bg-5.png); }

.protfolio-bg-6 {
  background-image: url(../img/portfolio-bg-6.png); }

.protfolio-bg-7 {
  background-image: url(../img/portfolio-bg-7.png); }

.protfolio-bg-8 {
  background-image: url(../img/portfolio-bg-8.png); }

.protfolio-bg-9 {
  background-image: url(../img/portfolio-bg-9.png); }

.protfolio-bg-10 {
  background-image: url(../img/portfolio-bg-10.png); }

.protfolio-bg-11 {
  background-image: url(../img/portfolio-bg-11.png); }

/* Contact Us Section */
#contact .contact-us {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #contact .contact-us .contact-left-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #ffffff; }
    #contact .contact-us .contact-left-box .footer-social-links a {
      display: inline-block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      background: #01a9a9;
      border-radius: 50%;
      font-size: 25px;
      margin-right: 10px; }
      #contact .contact-us .contact-left-box .footer-social-links a i.fa {
        color: #f40234; }
  @media (max-width: 767px) {
    #contact .contact-us .contact-left-box {
      position: relative;
      padding: 25%; } }
  @media (max-width: 450px) {
    #contact .contact-us .contact-left-box {
      padding: 10%; } }

#contact .contact-right-box h3.contact-form-title {
  text-align: center;
  padding: 20px;
  margin: 0; }

#contact .contact-right-box form .form-control {
  border: none;
  border-bottom: 1px solid #01a9a9;
  border-radius: 0;
  padding: 0.5rem 0; }

#contact .contact-right-box form .send-button {
  background: #01a9a9;
  border-color: transparent;
  border-radius: 50px;
  font-size: 16px; }

.footer-area {
  background: #495057;
  color: #fff;
  padding: 20px 0px; }
